@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
html {
  height: 100%;
  color: #fff;
  background-color: black;
}

main {
  display: grid;
  grid-template-columns: 20% auto;
}

.SideBar {
  background-color: #040517;
  height: auto;
  padding: 7%;
}
.SideBar img {
  display: inline-block;
  height: auto;
  width: 15%;
  border-radius: 15px;
  margin-right: 2%;
}
.SideBar .infoProfile {
  display: inline-block;
  vertical-align: 80%;
}
.SideBar .infoProfile h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.9vw;
  margin: 0.5% 0;
}
.SideBar .infoProfile div {
  margin-top: 5%;
  opacity: 0.5;
}
.SideBar .infoProfile div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.5vw;
  vertical-align: 3px;
  display: inline-block;
}
.SideBar .infoProfile div:hover {
  opacity: 1;
  cursor: pointer;
}
.SideBar nav {
  padding: 10%;
  margin-top: 80%;
}
.SideBar nav hr {
  margin-top: 60%;
}
.SideBar nav ul {
  margin-top: 5%;
}
.SideBar nav ul li {
  opacity: 0.5;
  cursor: pointer;
  margin: 2% 0;
}
.SideBar nav ul li p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.6vw;
  vertical-align: 4px;
  display: inline-block;
  margin-left: 2%;
}
.SideBar nav ul li:hover {
  opacity: 1;
  cursor: pointer;
}

.Painel {
  background: linear-gradient(to right, #0d1226 0%, #1f1734 100%);
  padding: 3% 4%;
}
.Painel .containerSearch {
  margin-bottom: 5%;
}
.Painel .containerSearch .SearchBar {
  background: transparent;
  background-image: url("../../assets/image/search.svg");
  background-repeat: no-repeat;
  background-position: initial;
  opacity: 0.5;
  padding-left: 2%;
  border: transparent;
  height: 25px;
  width: 20%;
  color: white;
}
.Painel .containerSearch .SearchBar:focus {
  opacity: 1;
}
.Painel .ContainerImg {
  width: 70vw;
}
.Painel .ContainerImg h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
  margin: 2% 0;
}
.Painel .ContainerImg #containerMusic {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.Painel .ContainerImg #containerMusic::-webkit-scrollbar {
  width: 5px;
  border: transparent;
}
.Painel .ContainerImg #containerMusic::-webkit-scrollbar-track {
  background: transparent;
}
.Painel .ContainerImg #containerMusic::-webkit-scrollbar-thumb {
  background-color: rgb(32, 15, 86);
  border-radius: 15px;
  width: 20%;
}
.Painel .ContainerImg #containerMusic div {
  margin-right: 35px;
}
.Painel .ContainerImg #containerMusic div h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8vw;
  margin: 2% 0;
  width: 70%;
}
.Painel .ContainerImg #containerMusic img {
  border-radius: 15px;
  height: 15vw;
  width: 15vw;
}
.Painel .ContainerImg #containerMusic p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.5vw;
  vertical-align: 3px;
  display: inline-block;
  opacity: 0.5;
}
.Painel .GridProfiles {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.Painel .GridProfiles h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
  margin: 0.5% 0;
}
.Painel .GridProfiles #GridProfiles {
  display: flex;
  flex-direction: column;
  padding: 3% 0;
}
.Painel .GridProfiles #GridProfiles div {
  margin-bottom: 2%;
}
.Painel .GridProfiles #GridProfiles img {
  display: inline-block;
  height: 3vw;
  width: 4vw;
  border-radius: 15px;
}
.Painel .GridProfiles #GridProfiles h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8vw;
  margin: 0.5% 0;
  display: inline-block;
  vertical-align: 150%;
  margin-left: 3%;
}
.Painel .Tracks {
  width: 35vw;
}
.Painel .Tracks #Tracks {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 5% 0;
}
.Painel .Tracks #Tracks::-webkit-scrollbar {
  width: 5px;
  border: transparent;
}
.Painel .Tracks #Tracks::-webkit-scrollbar-track {
  background: transparent;
}
.Painel .Tracks #Tracks::-webkit-scrollbar-thumb {
  background-color: rgb(32, 15, 86);
  border-radius: 15px;
  width: 20%;
}
.Painel .Tracks #Tracks div {
  margin-right: 35px;
}
.Painel .Tracks #Tracks div img {
  border-radius: 15px;
  height: 10vw;
  width: 10vw;
}
.Painel .Tracks #Tracks div h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
  margin: 0.5% 0;
}
.Painel .Tracks #Tracks div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.5vw;
  vertical-align: 3px;
  display: inline-block;
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
